<section id="comment" class="my-md-4 my-2 ">
    <div class="row col-10 mx-auto">
        <div class="col-md-4 ">
            <div class="d-flex align-items-center justify-content-center">
                <div class="icon-comment icon-light">
                    <i class="fa-solid fa-medal"></i>
                </div>

                    <h1 class="title-comment mx-2">UN SAVOIR FAIRE</h1>

            </div>
            <div class=" text-center justify-content-center mx-auto col-10">
                <p class="p-comment">
                    Faites confiance à l'expertise de
                    Reflets Bleus, cumulant 33 ans
                    de savoir-faire dans la construction de piscines, spas et saunas.
                    Notre équipe expérimentée vous guide à chaque étape pour
                    concrétiser vos projets avec professionnalisme.
                </p>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="d-flex align-items-center justify-content-center">
                <div class="icon-comment ">
                    <i class="fa-solid fa-handshake"></i>
                </div>
                    <h1 class="title-comment mx-2">UN SAVOIR FAIRE</h1>
            </div>
            <div class=" text-center justify-content-center mx-auto col-10">
                <p class="p-comment ">
                    Faites confiance à l'expertise de
                    Reflets Bleus, cumulant 33 ans
                    de savoir-faire dans la construction de piscines, spas et saunas.
                    Notre équipe expérimentée vous guide à chaque étape pour
                    concrétiser vos projets avec professionnalisme.
                </p>
            </div>
        </div>
                <div class="col-md-4 ">
            <div class="d-flex align-items-center justify-content-center">
                <div class="icon-comment ">
                    <i class="fa-solid fa-truck"></i>
                </div>

                    <h1 class="title-comment mx-2">UN SAVOIR FAIRE</h1>

            </div>
            <div class=" text-center justify-content-center mx-auto col-10">
                <p class="p-comment">
                    Faites confiance à l'expertise de
                    Reflets Bleus, cumulant 33 ans
                    de savoir-faire dans la construction de piscines, spas et saunas.
                    Notre équipe expérimentée vous guide à chaque étape pour
                    concrétiser vos projets avec professionnalisme.
                </p>
            </div>
        </div>
    </div>
</section>