{# FOOTER #}
{# ----------------------------------------------------------------------------------------------------------------------- FOOTER ---  #}
    <footer class="footer">
			<div>
				<a href="#">
					<img src="{{ asset('assets/images/logos/logo-footer.png') }}" class="logo-footer" alt="Logo RefletsBleus">
				</a>
			</div>


			<div class="link-pages">
				<a href="#">Contact</a>
				<a  href="#">Mentions légales</a>
				<a href="#">Plan du site</a>
				<a href="#">Newsletter</a>
			</div>
			<div class="content-icon-facebook-top">
				<a href="https://www.facebook.com/profile.php?id=100089841056259">
					<i class="fa-brands fa-square-facebook"></i>
				</a>
			</div>
	</footer>
{# ----------------------------------------------------------------------------------------------------------------------- FOOTER END ---  #}
