
<footer class="footer">

    <a href="{{ path('home') }}">
        <img src="{{ asset('assets/images/logos/logo-footer.png') }}" class="logo-footer" alt="Logo RefletsBleus">
    </a>
    </div>
    <div class="link-pages">
        <a href="{{ path('app_contact') }}">Contact</a>
        <a href="/notice">Mentions légales</a>
        <a href="{{ path('app_newsletter') }}">Newsletter</a>
    </div>
    <div class="content-icon-facebook-top">
        <a href="https://www.facebook.com/profile.php?id=100089841056259">
            <i class="fa-brands fa-square-facebook"></i>
        </a>

</footer>

