<header class="header fixed-top">
        <nav class="navbar navbar-expand-xxl">
            <div class="container-fluid align-items-center">
                <a class="navbar-brand" href="#">
                    <img src="{{ asset('assets/images/logos/logo-header.png') }}" class="logo-header" alt="Logo RefletsBleus">
                </a>

                    <div class="d-flex content-icon-facebook-top order-xxl-1">
                    <a  href="https://www.facebook.com/profile.php?id=100089841056259">
                        <i class="fa-brands fa-square-facebook"></i>
                    </a>
                    </div>


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Piscines</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Rénovations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Bien-Être</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#">Bâtiment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Catalogues</a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
        <div class="d-flex row content-icons ">
            <div class="d-flex col-8 row">
                <div class="d-flex content-icon-location col-6 order-1 order-xxl-2">
                    <i class="fa-solid fa-location-dot"></i>
                </div>                
                <div class="d-flex content-icon-phone col-6 order-2 order-xxl-1">
                    <i class="fa-solid fa-phone"></i>
                </div>
            </div>
            <div class="d-flex icon-mail col-4 order-3">
                <i class="fa-solid fa-envelope"></i>
            </div>
        </div>

        <!-- ICONES PHONE LOCALISATION MAIL POSITION FIXE -->

    </header>