{# PICTURE #}
{# ----------------------------------------------------------------------------------------------------------------------- PICTURE HEADER ---  #}
<section id="img">
    <div class="g-0 image_header justify-content-center d-flex">
        <img src="{{ asset('assets/images/logos/logo-oppacity.png') }}" alt="" id="overlay_image">
    </div>
</section>
{# ----------------------------------------------------------------------------------------------------------------------- PICTURE HEADER END ---  #}