
#carousel .sliderwrapper{
  max-width: 100%;
  overflow: hidden;
}

  #carousel .swip-navBtn{
    display: none ;
  }


@media (min-width: 768px) {
  #carousel .sliderwrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #carousel  .slide-container{
    width: 100%;
  }
  #carousel  .slide-content{
    overflow: hidden;
  }
  
  
  #carousel  .swip-navBtn{
    display: flex;
    color:white;
    background-color: var(--icon-light);
    transition: color 0.3s ease;
  }
  #carousel  .swip-navBtn:hover{
    background-color: var(--icon-dark);
  
  }
  
  #carousel  .swip-button-next{
    height: 2vw;
    width: 2vw;
    color:white;
    background-color: var(--icon-light);
    transition: color 0.3s ease;
  }
  #carousel  .swip-button-prev{
    height: 2vw;
    width: 2vw;
    color:white;
    background-color: var(--icon-light);
    transition: color 0.3s ease;
  }
}