{% extends 'base.html.twig' %}

{% block title %}Newsletter{% endblock %}
{% block body_class %}{{title}}{% endblock %}
{% set options = option_service.findAll %}

{% block body %}



    <div class ="container w-25 my-5 pt-5">
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
        <h1>Inscription à la Newsletter</h1>



                        {{ form(form_news) }}
                    

    </div>

{% endblock %}
