{% extends 'base.html.twig' %}
{% block title %}Hello MainController!{% endblock %}
{% block body_class %}home{% endblock %}
{% block body %}

{# PICTURE #}
{# ----------------------------------------------------------------------------------------------------------------------- PICTURE HEADER ---  #}
<section >
    <div class="row col-12 g-0 image_header" >
        <img src="{{ asset('assets/images/images/index/image-header-index-phone.jpg') }}"alt="" id="image_header">
    </div>
</section>
{# ----------------------------------------------------------------------------------------------------------------------- PICTURE HEADER END ---  #}



{# COMMENT #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION COMMENT ---  #}
<section id="section-comment" class="my-2 my-md-3 my-xxl-3">
    <div class="container-fluid d-flex section-comment col-12 col-xxl-10 row mx-auto">
        <div class="commment-top col-12 col-md-4 col-xxl-4 mx-auto my-xxl-0 order-2 order-md-1">
            <div class="containt-comment-title col-12 col-xxl-12">
                <img src="{{ asset('assets/images/icons/body/icon-star.png') }}" class="icon-title" alt="">
                <h1 class="title-comment">VRAI SAVOIR-FAIRE</h1>
            </div>
            <div class="comment col-12 col-xxl-12 col-md-9 mx-auto">
            <p>Faites confiance à l'expertise
                de
                Reflets Bleus, cumulant 33 ans
                de savoir-faire dans la construction de piscines, spas et saunas.
                Notre équipe expérimentée vous guide à chaque étape pour
                concrétiser vos projets avec professionnalisme.</p>
            </div>
        </div>
        <div class="commment-top col-12 col-md-4 col-xxl-4 mx-auto order-3 order-md-3">
            <div class="containt-comment-title col-12 col-xxl-12">
                <img src="{{ asset('assets/images/icons/body/icon-localisation.png') }}" class="icon-title" alt="">
                <h1 class="title-comment">VRAI SAVOIR-FAIRE</h1>
            </div>
            <div class="comment col-12 col-xxl-12 col-md-9 mx-auto">
            <p>Faites confiance à l'expertise
                de
                Reflets Bleus, cumulant 33 ans
                de savoir-faire dans la construction de piscines, spas et saunas.
                Notre équipe expérimentée vous guide à chaque étape pour
                concrétiser vos projets avec professionnalisme.</p>
            </div>
        </div>
        <div class="col-12 col-md-4 col-xxl-4 mx-auto order-1 order-md-2">
            <img src="{{ asset('assets/images/logos/logo-pro-piscine.svg') }}" class="my-3 my-md-0 my-xxl-2" id="logo-pro-piscine">
        </div>
    </div>
</section>
{# ----------------------------------------------------------------------------------------------------------------------- SECTION COMMENT END ---  #}
<section id="green">
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-xxl-10 col-md-10">
                <div class="position-relative">
                    <img src="https://via.placeholder.com/1640x544" class="img-fluid w-100" alt="Image de piscine">
                    <div class="overlay overlay-right d-flex flex-column">
                        <div class="title-container my-2">
                            <div class="icon-container green"><i class="fas fa-star"></i></div>
                            <span class="titreh2">Entretien Pro pour Vos Espaces Aquatiques</span>
                        </div>
                        <p>Reflets Bleus se distingue par son expertise dans les services d'entretien complets pour
                            piscines, spas et saunas. Allant au-delà de la simple construction, nous vous accompagnons
                            de manière exhaustive, assurant un suivi attentif du nettoyage régulier à l'hivernage
                            soigneux. Forte de 33 ans d'expérience, notre équipe assure un suivi attentif, offrant des
                            solutions personnalisées adaptées à vos besoins spécifiques pour maintenir votre espace
                            aquatique dans un état optimal.</p>
                        <div class="container-btn d-flex mx-2 my-2">
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon green mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon green mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="yellow">
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-xxl-10 col-md-10">
                <div class="position-relative">
                    <img src="https://via.placeholder.com/1640x544" class="img-fluid w-100" alt="Image de piscine">
                    <div class="overlay overlay-left d-flex flex-column">
                        <div class="title-container my-2">
                            <div class="icon-container yellow"><i class="fas fa-star"></i></div>
                            <span class="titreh2">Entretien Pro pour Vos Espaces Aquatiques</span>
                        </div>
                        <p>Reflets Bleus se distingue par son expertise dans les services d'entretien complets pour
                            piscines, spas et saunas. Allant au-delà de la simple construction, nous vous accompagnons
                            de manière exhaustive, assurant un suivi attentif du nettoyage régulier à l'hivernage
                            soigneux. Forte de 33 ans d'expérience, notre équipe assure un suivi attentif, offrant des
                            solutions personnalisées adaptées à vos besoins spécifiques pour maintenir votre espace
                            aquatique dans un état optimal.</p>
                        <div class="container-btn d-flex mx-2 my-2">
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon yellow mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon yellow mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="red">
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-xxl-10 col-md-10">
                <div class="position-relative">
                    <img src="https://via.placeholder.com/1640x544" class="img-fluid w-100" alt="Image de piscine">
                    <div class="overlay overlay-right d-flex flex-column">
                        <div class="title-container my-2">
                            <div class="icon-container red"><i class="fas fa-star"></i></div>
                            <span class="titreh2">Entretien Pro pour Vos Espaces Aquatiques</span>
                        </div>
                        <p>Reflets Bleus se distingue par son expertise dans les services d'entretien complets pour
                            piscines, spas et saunas. Allant au-delà de la simple construction, nous vous accompagnons
                            de manière exhaustive, assurant un suivi attentif du nettoyage régulier à l'hivernage
                            soigneux. Forte de 33 ans d'expérience, notre équipe assure un suivi attentif, offrant des
                            solutions personnalisées adaptées à vos besoins spécifiques pour maintenir votre espace
                            aquatique dans un état optimal.</p>
                        <div class="container-btn d-flex mx-2 my-2">
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon red mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon red mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="blue">
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-xxl-10 col-md-10">
                <div class="position-relative">
                    <img src="https://via.placeholder.com/1640x544" class="img-fluid w-100" alt="Image de piscine">
                    <div class="overlay overlay-left d-flex flex-column">
                        <div class="title-container my-2">
                            <div class="icon-container blue"><i class="fas fa-star"></i></div>
                            <span class="titreh2">Entretien Pro pour Vos Espaces Aquatiques</span>
                        </div>
                        <p>Reflets Bleus se distingue par son expertise dans les services d'entretien complets pour
                            piscines, spas et saunas. Allant au-delà de la simple construction, nous vous accompagnons
                            de manière exhaustive, assurant un suivi attentif du nettoyage régulier à l'hivernage
                            soigneux. Forte de 33 ans d'expérience, notre équipe assure un suivi attentif, offrant des
                            solutions personnalisées adaptées à vos besoins spécifiques pour maintenir votre espace
                            aquatique dans un état optimal.</p>
                        <div class="container-btn d-flex mx-2 my-2">
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon blue mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon blue mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="grey">
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-xxl-10 col-md-10">
                <div class="position-relative">
                    <img src="https://via.placeholder.com/1640x544" class="img-fluid w-100" alt="Image de piscine">
                    <div class="overlay overlay-right d-flex flex-column">
                        <div class="title-container my-2">
                            <div class="icon-container grey"><i class="fas fa-star"></i></div>
                            <span class="titreh2">Entretien Pro pour Vos Espaces Aquatiques</span>
                        </div>
                        <p>Reflets Bleus se distingue par son expertise dans les services d'entretien complets pour
                            piscines, spas et saunas. Allant au-delà de la simple construction, nous vous accompagnons
                            de manière exhaustive, assurant un suivi attentif du nettoyage régulier à l'hivernage
                            soigneux. Forte de 33 ans d'expérience, notre équipe assure un suivi attentif, offrant des
                            solutions personnalisées adaptées à vos besoins spécifiques pour maintenir votre espace
                            aquatique dans un état optimal.</p>
                        <div class="container-btn d-flex mx-2 my-2">
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon grey mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon grey mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <div class="col-md-10 mx-auto">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-10 my-3 my-md-0 col-md-3">
                    <div class="position-relative">
                        <img src="https://via.placeholder.com/400x200" class="img-fluid w-100" alt="Image de piscine">
                        <div class="overlay-cards d-flex flex-column">
                            <div class="container-btn d-flex my-2">
                                <button type="button" class="btn-cards d-flex align-items-center mx-2">
                                    <div class="icon blue mx-2">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                    <span class="text-btn">Nos Piscines</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-10 my-3 my-md-0 col-md-3">
                    <div class="position-relative">
                        <img src="https://via.placeholder.com/400x200" class="img-fluid w-100" alt="Image de piscine">
                        <div class="overlay-cards d-flex flex-column">
                            <div class="container-btn d-flex my-2">
                                <button type="button" class="btn-cards d-flex align-items-center mx-2">
                                    <div class="icon green mx-2">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                    <span class="text-btn">Nos Piscines</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-10 my-3 my-md-0 col-md-3">
                    <div class="position-relative">
                        <img src="https://via.placeholder.com/400x200" class="img-fluid w-100" alt="Image de piscine">
                        <div class="overlay-cards d-flex flex-column">
                            <div class="container-btn d-flex my-2">
                                <button type="button" class="btn-cards d-flex align-items-center mx-2">
                                    <div class="icon yellow mx-2">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                    <span class="text-btn">Nos Piscines</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-10 my-3 my-md-0 col-md-3">
                    <div class="position-relative">
                        <img src="https://via.placeholder.com/400x200" class="img-fluid w-100" alt="Image de piscine">
                        <div class="overlay-cards d-flex flex-column">
                            <div class="container-btn d-flex mx-2 my-2">
                                <button type="button" class="btn-cards d-flex align-items-center mx-2">
                                    <div class="icon red mx-2">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                    <span class="text-btn">Nos Piscines</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{# ----------------------------------------------------------------------------------------------------------------------- SECTION GREEN END ---  #}



{# YELLOW #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION YELLOW ---  #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION YELLOW END ---  #}



{% endblock %}
