.button {
    width: 28vw;
    height: 10vw;
    border: solid 1px var(--icon-dark);
    border-radius: 0;
    font-size: 3vw;
    font-family: "Darker Grotesque";
    color: var(--icon-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
}
.button_category{
    text-decoration: none;
}
.button:hover {
    background-color: rgb(255, 255, 255);
}
.container-btn {
    align-items: center;
    justify-content: center;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    height: 4vw;
}
.fa-plus {
    color: rgb(255, 255, 255);
    font-size: 3vw;
}

@media (min-width: 768px) {
    .button {
        width: 13vw;
        height: 3.8vw;
        font-size: 1.3vw;
    }
    .button:hover .icon {
        animation: rotate3d 2s;
    }
    .button:hover .icon.green {
        background-color: #41614D;
    }
    .button:hover .icon.yellow {
        background-color: #877744;
    }
    .button:hover .icon.red {
        background-color: #7D294D;
    }
    .button:hover .icon.blue {
        background-color: #0E3F78;
    }
    .button:hover .icon.grey {
        background-color: #464646;
    }
    .fa-plus {
        font-size: 0.7vw;
    }
    .text-btn {
        margin-bottom: 5px;
    }
    .icon {
        width: 1.4vw;
        height: 1.4vw;
    }
}

