.button {
    width: 28vw;
    height: 10vw;
    border: solid 1px #0E3F78;
    border-radius: 0;
    font-size: 3vw;
    font-family: "Darker Grotesque";
    color: #0E3F78;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
}

.button:hover {
    background-color: rgb(255, 255, 255);
}


@media (min-width: 768px) {

    .button {
        width: 13vw;
        height: 3.8vw;
        font-size: 1.3vw;

    }

    .button:hover .icon {
        animation: rotate3d 2s infinite;
    }

    .button.green:hover {
        background-color: #41614D;
    }

    .button.yellow:hover {
        background-color: #877744;

    }

    .button.red:hover {
        background-color: #7D294D;

    }

    .button.blue:hover {
        background-color: #0E3F78;

    }

    .button.grey:hover {
        background-color: #464646;

    }
}