a.button{
    text-decoration: none;
}
.card_catalogue{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 10px 10px;
	border-radius: 6px;
    width: 18rem !important;
    margin: 50px;
    padding-bottom: 20px;
}
.button_catalogue{
    width: 28vw;
    height: 10vw;
}
.container_catalogue{
    display: flex;
    justify-content: center;
}
.title_catalogue{
    font-size: 5vw;
    font-family: "Bebas Neue", light;
    color: var(--icon-dark);
    margin: 1vw;
    letter-spacing: 0.1vw;
}

@media (min-width: 768px){
    .container_catalogue{
        justify-content: space-around;
    }
    .button_catalogue{
        width: 10vw;
        height: 2.5vw;
        font-size: 1vw
    }
    .title_catalogue{
        font-size: 1.5vw;
    }
}