
.green{
    background-color: #88C29F !important;
}
.yellow{
    background-color: #ECD27E !important;
}
.red{
    background-color: #D56C99 !important;
}
.blue{
    background-color: #41AED1 !important;
}
.grey{
    background-color: #AFAFAF !important;
}
