.title-comment {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    color: #0E3F78;
    margin-top: 10px;
    font-size: 5vw;
}
.icon-comment {
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--icon-light);
}
.icon-title {
    height: 25px;
    width: 25px;
}
#comment i {
    color: white;
    font-size: 2.2vw;
}
.p-comment {
    font-family: "Darker Grotesque", sans-serif;
    color: #0E3F78;
    font-size: 2.8vw; 
}
@media (min-width: 768px) {
    .p-comment {
        font-size: 1vw; 
    }
     .icon-title {
        width: 30px;
        height: 30px;
    }
     .title-comment {
        font-size: 2vw;
        margin-top: 10px;
    }
     .icon-comment {
        width: 2vw !important;
        height: 2vw !important;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--icon-light);
    }
     #comment i {
        color: white;
        font-size: 1.2vw;
    }
}
