/* FOOTER */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION FOOTER - - - */
footer {
    width: 100%;
    background-color: var(--icon-dark);
    padding: 10px;
    align-items: start;
    text-align: center;
}

footer .fa-square-facebook {
    color: #ffffff;
    font-size: 40px;
}
footer .fa-square-facebook {
    font-size: 40px;
}
footer .logo-footer {
    width: 180px;
}
footer .link-pages a{
    font-size: 3vw;
    color: #ffffff;
    text-decoration: none;
}

footer .link-pages {
    margin: 5px;
}

@media (min-width: 768px) {

    footer {
        height: 100px;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }

    footer .link-pages{
        position: static;
    }
    footer .link-pages a{
        font-size: 1vw;
        margin:20px;
    }
    footer .link-pages a:hover{
        text-decoration:underline;
    }


}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION FOOTER END - - - */

