/* NAVBAR */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - NAVBAR - - - */
.navbar {
    background-color: white;
    justify-content: center;
    height: 70px;
}
.navbar-nav .nav-link {
    font-size: 25px;
    color: #0E3F78;
    font-weight: lighter;
}
.logo-header {
    width: 180px;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - NAVBAR END - - - */



/* ICON */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ICON - - - */
.fa-square-facebook {
    color: #0E3F78;
    font-size: 40px;
}
.content-icon-facebook-top {
    position: absolute;
    right: 0;
    margin-right: 80px;
}
.icon-dark {
    background-color: #0E3F78;
    height: 50px;
    justify-content: center;
}
.icon-light {
    background-color: #419ed4;
    height: 50px;
    justify-content: center;
}
.fa-location-dot {
    color: white;
    font-size: 20px;
    margin-top: 15px;
}
.fa-phone {
    color: white;
    font-size: 20px;
    margin-top: 15px;
}
.content-icon-mail {
    position: absolute;
}
.icon-mail {
    background-color: #419ed4;
    height: 50px;
    width: 50px;
    text-align: center;
}
.fa-envelope {
    color: white;
    font-size: 20px;
    margin-top: 15px;
}
@media (min-width: 600px) and (max-width: 1399px) {
    .icon-size {
        height: 50px;
    }
}
@media (min-width: 1400px) and (max-width: 1940px) {
    .navbar-nav {
        margin-left: 400px;
    }
    .icon-dark {
        position: absolute;
        background-color: #0E3F78;
        height: 70px;
        min-width: 70px;
        right: 0;
        top: 0;
    }
    .icon-light {
        position: absolute;
        background-color: #419ed4;
        height: 70px;
        min-width: 70px;
        right: 70px;
        top: 0;
    }
    .fa-location-dot {
        color: white;
        font-size: 30px;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }
    .fa-phone {
        color: white;
        font-size: 30px;
        margin-top: 20px;
    }
    .fa-square-facebook {
        color: #0E3F78;
        font-size: 40px;
    }
    .content-icon-facebook-top {
        position: absolute;
        right: 75px;
        margin-right: 80px;
    }
    .icon-mail {
        position: absolute;
        background-color: #0E3F78;
        height: 70px;
        min-width: 70px;
        margin-top: 540px;
    }
    .fa-envelope {
        color: white;
        font-size: 30px;
        margin-top: 20px;
        align-items: center;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ICON END - - - */