.image_header{
    background-image: url(/assets/images/images/index/image-header-index-phone.jpg);
    height: 680px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.home .image_header{
    background-image: url(/assets/images/images/index/image-header-index-phone.jpg);
}
.piscines .image_header {
    background-image:  url(/assets/images/images/piscine/image-header-piscine-phone.jpg);
}
.services .image_header {
    background-image:  url(/assets/images/images/services/image-header-services-phone.jpg);
}
.renovation .image_header {
    background-image:  url(/assets/images/images/renovation/image-header-renovation-phone.jpg);
}
.bien-etre .image_header{
    background-image: url(/assets/images/images/spas/image-header-spas-phone.jpg);
}
.batiment .image_header {
    background-image:  url(/assets/images/images/batiment/image-header-batiment-phone.jpg);
}
.catalogues .image_header {
    background-image:  url(/assets/images/images/catalogue/image-header-catalogue-phone.jpg);
}
.contact .image_header {
    background-image:  url(/assets/images/images/contact/image-header-contact-phone.jpg);
}
#overlay_image {

    height: 220px;
    backdrop-filter: blur(1px);
}

@media (min-width: 768px) {
    .image_header {
        background-image: url(/assets/images/images/index/image-header-index.jpg);
    }
    #overlay_image {
        width: 440px;
        height: 220px;
        transform: scale(1);
        transition: transform 2s ease-in-out;
    }
    .image_header:hover #overlay_image {
        transform: scale(1.5);
    }
    .home .image_header{
        background-image:  url(/assets/images/images/index/image-header-index.jpg);
    }
    .piscines .image_header {
        background-image:  url(/assets/images/images/piscine/image-header-piscine.jpg);
    }
    .services .image_header {
        background-image:  url(/assets/images/images/services/image-header-services.jpg);
    }
    .renovation .image_header {
        background-image:  url(/assets/images/images/renovation/image-header-renovation.jpg);
    }
    .bien-etre .image_header{
        background-image: url(/assets/images/images/spas/image-header-spas.jpg);
    }
    .batiment .image_header {
        background-image:  url(/assets/images/images/batiment/image-header-batiment.jpg);
    }
    .catalogues .image_header {
        background-image:  url(/assets/images/images/catalogue/image-header-catalogue.jpg);
    }
    .contact .image_header {
        background-image:  url(/assets/images/images/contact/image-header-contact.jpg);
    }
}







