/* PICTURE */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION PICTURE HEADER - - - */
#image_header {
    height: 650px;
    position: relative;
    width: 100%;
}
#overlay_image {
    width: 440px;
    height: 220px;
    position: absolute;
    top: 47%;
}
@media (min-width: 768px) {
    #image_header {
        height: 680px;
        content: url(/assets/images/images/index/aaa.jpg);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    #overlay_image {
        width: 440px;
        height: 220px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 1s ease-in-out;
    }
    .image_header:hover #overlay_image {
        transform: translate(-50%, -50%) scale(1.5);
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION PICTURE HEADER END - - - */


/* COMMENT */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION COMMENT - - - */
.title-comment {
    font-family: "Bebas Neue", sans-serif;
    color: #0E3F78;
    margin-top: 10px;
}
.comment {
    font-family: "Darker Grotesque", sans-serif;
    color: #0E3F78;
    text-align: center;
}
.icon-comment {
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-title {
    height: 25px;
    width: 25px;
}
#comment i {
    color: white;
    font-size: 2.2vw;
}
.containt-comment-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px) {
    .p-comment {
        font-family: "Darker Grotesque", sans-serif;
        color: #0E3F78;
        font-size: 1vw; 
        text-align: center;
    }
    .icon-title {
        width: 30px;
        height: 30px;
    }
    .title-comment {
        font-size: 2vw;
        margin-top: 10px;
    }
    .icon-comment {
        width: 2vw;
        height: 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--icon-light);
    }
    #comment i {
        color: white;
        font-size: 1.2vw;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION COMMENT END - - - */


/* CATEGORY */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION CATEGORY - - - */
.titreh2 {
    font-size: 5vw;
    font-family: "Bebas Neue", light;
    color: #0E3F78;
    margin-left: 10px;
}
p {
    font-size: 2.8vw;
    text-align: start;
    color: #0E3F78;
    font-family: "Darker Grotesque";
    padding: 0px;
    text-align: center;
}
.icon-container {
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    height: 4vw;
}
.fa-plus {
    color: rgb(255, 255, 255);
    font-size: 3vw;
}
.fa-star {
    color: white;
    font-size: 3vw;
}
.container-btn {
    align-items: center;
    justify-content: center;
}
@media (min-width: 768px) {
    .overlay {
        position: absolute;
        justify-content: center;
        top: 0;
        width: 70%;
        height: 100%;
        background: rgba(255, 255, 255, 0.712);
        display: flex;
        flex-direction: row;
        padding: 10px;
    }
    .overlay-right {
        right: 0;
    }
    .container-btn {
        align-items: center;
        justify-content: center;

    }
    .overlay-left {
        left: 0;
    }
    .overlay:hover .fa-star {
        animation: rotate3d 4s infinite;
    }
    .titreh2 {
        font-size: 2.5vw;
    }
    p {
        font-size: 1.4vw;
        text-align: start;
        margin-left: 40px;
    }
    .title-container {
        margin-left: 40px;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .icon-container {
        width: 3vw;
        height: 3vw;
    }
    .fa-star {
        font-size: 1.5vw;
    }
    .icon {
        width: 1.4vw;
        height: 1.4vw;
    }
    .fa-plus {
        font-size: 0.7vw;
    }
    .text-btn {
        margin-bottom: 5px;
    }
    .overlay:hover .fa-star {
        animation: rotate3d 4s infinite;
    }
    .overlay-text {
        font-size: 1.4vw;
    }
    #top p {
        text-align: center;
    }
    .overlay-blue {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 70%;
        height: 80%;
        background: rgba(255, 255, 255, 0.712);
    }
    .overlay-blue:hover .fa-star {
        animation: rotate3d 4s infinite;
    }
    .overlay-text {
        font-size: 2.8vw;
        text-align: center;
        color: #0E3F78;
        font-family: "Darker Grotesque";
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION CATEGORY END - - - */


/* CARDS */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION CARDS - - - */
.overlay-cards {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.btn-cards {
    width: 40vw;
    height: 15vw;
    border-radius: 0;
    border: white;
    font-size: 5vw;
    font-family: "Darker Grotesque";
    color: #0E3F78;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.836);
}
@media (min-width: 768px) {
    .overlay-cards {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.700);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
    }
    .overlay-cards:hover {
        background-color: rgba(255, 255, 255, 0.100);
    }
    .btn-cards {
        width: 12vw;
        height: 3.8vw;
        font-size: 1.3vw;
    }
    .btn-cards:hover .icon{
        animation: rotate3d 2s infinite;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION CARDS END - - - */