/* PICTURE */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION PICTURE HEADER - - - */
.piscines #image_header {
    height: 650px;
    position: relative;
    width: 100%;
}
.piscines #overlay_image {
    width: 440px;
    height: 220px;
    position: absolute;
    top: 47%;
}
@media (min-width: 768px) {
    .piscines #image_header {
        height: 680px;
        content: url(/assets/images/images/piscine/image-header-piscine.jpg);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .piscines #overlay_image {
        width: 440px;
        height: 220px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 1s ease-in-out;
    }
    .piscines .image_header:hover #overlay_image {
        transform: translate(-50%, -50%) scale(1.5);
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION PICTURE HEADER END - - - */

/* COMMENT */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION COMMENT - - - */
.piscines .title-comment {
    font-family: "Bebas Neue", sans-serif;
    color: #0E3F78;
    margin-top: 10px;
    font-size: 5vw;
}
.piscines .comment {
    font-family: "Darker Grotesque", sans-serif;
    color: #0E3F78;
    text-align: center;
}
.piscines .icon-comment {
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.piscines .icon-title {
    height: 25px;
    width: 25px;
}
.piscines #comment i {
    color: white;
    font-size: 2.2vw;
}
.piscines .containt-comment-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px) {
    .piscines .p-comment {
        font-family: "Darker Grotesque", sans-serif;
        color: #0E3F78;
        font-size: 1vw; 
        text-align: center;
    }
    .piscines .icon-title {
        width: 30px;
        height: 30px;
    }
    .piscines .title-comment {
        font-size: 2vw;
        margin-top: 10px;
    }
    .piscines .icon-comment {
        width: 2vw;
        height: 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--icon-light);
    }
    .piscines #comment i {
        color: white;
        font-size: 1.2vw;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION COMMENT END - - - */

/* COMMENT */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION COMMENT - - - */
.piscines .title-paragraphe {
    font-family: "Bebas Neue", sans-serif;
    color: #0E3F78;
    margin-top: 10px;
    font-size: 5vw;
}
.piscines .paragraphe {
    font-family: "Darker Grotesque", sans-serif;
    color: #0E3F78;
    text-align: center;
}
.piscines .icon-paragraphe {
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.piscines .icon-title {
    height: 25px;
    width: 25px;
}
.piscines #paragraphe i {
    color: white;
    font-size: 2.2vw;
}
.piscines .containt-paragraphe-title {
    display: flex;
    justify-content: start;
    align-items: center;
}
@media (min-width: 768px) {
    
    .piscines #paragraphe p {
        font-family: "Darker Grotesque", sans-serif;
        color: #0E3F78;
        font-size: 1vw; 
        text-align: start;
    }
    .piscines .icon-title {
        width: 30px;
        height: 30px;
    }
    .piscines .title-paragraphe {
        font-size: 2vw;
        margin-top: 10px;
    }
    .piscines .icon-paragraphe {
        width: 2vw;
        height: 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--icon-light);
    }
    .piscines #paragraphe i {
        color: white;
        font-size: 1.2vw;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION COMMENT END - - - */

/* CATEGORY */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION CATEGORY - - - */
.piscines .titreh2 {
    font-size: 5vw;
    font-family: "Bebas Neue", light;
    color: #0E3F78;
    margin-left: 1vw;
    letter-spacing: 0.1vw;
}
.piscines p {
    font-size: 2.8vw;
    text-align: start;
    color: #0E3F78;
    font-family: "Darker Grotesque";
    padding: 0px;
    text-align: center;
}
.piscines .icon-container {
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.piscines .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.piscines .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    height: 4vw;
}
.piscines .fa-plus {
    color: rgb(255, 255, 255);
    font-size: 3vw;
}
.piscines .fa-star {
    color: white;
    font-size: 3vw;
}
.piscines .container-btn {
    align-items: center;
    justify-content: center;
}
@media (min-width: 768px) {
    .piscines .overlay {
        position: absolute;
        justify-content: center;
        top: 0;
        width: 70%;
        height: 100%;
        background: rgba(255, 255, 255, 0.712);
        display: flex;
        flex-direction: row;
        padding: 10px;
    }
    .piscines .overlay-right {
        right: 0;
    }
    .piscines .container-btn {
        align-items: center;
        justify-content: end;

    }
    .piscines .overlay-left {
        left: 0;
    }
    .piscines .overlay:hover .fa-star {
        animation: rotate3d 4s infinite;
    }
    .piscines .titreh2 {
        font-size: 2.5vw;
    }
    .piscines p {
        font-size: 1.4vw;
        text-align: start;
        margin-left: 40px;
    }
    .piscines .title-container {
        margin-left: 40px;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .piscines .icon-container {
        width: 2.5vw;
        height: 2.5vw;
    }
    .piscines .fa-star {
        font-size: 1.5vw;
    }
    .piscines .icon {
        width: 1.4vw;
        height: 1.4vw;
    }
    .piscines .fa-plus {
        font-size: 0.7vw;
    }
    .piscines .text-btn {
        margin-bottom: 5px;
    }
    .piscines .overlay:hover .fa-star {
        animation: rotate3d 4s;
    }
    .piscines .overlay-text {
        font-size: 1.4vw;
    }
    .piscines #top p {
        text-align: center;
    }
    .piscines .overlay-blue {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 70%;
        height: 80%;
        background: rgba(255, 255, 255, 0.712);
    }
    .piscines .overlay-blue:hover .fa-star {
        animation: rotate3d 4s;
    }
    .piscines .overlay-text {
        font-size: 2.8vw;
        text-align: center;
        color: #0E3F78;
        font-family: "Darker Grotesque";
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION CATEGORY END - - - */

/* CARDS */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION CARDS - - - */
.piscines .overlay-cards {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
@media (min-width: 768px) {
    .piscines .overlay-cards {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.700);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
    }
    .piscines .overlay-cards:hover {
        background-color: rgba(255, 255, 255, 0.100);
    }
    .piscines .btn-cards {
        width: 12vw;
        height: 3.8vw;
        font-size: 1.3vw;
    }
    .piscines .overlay-cards:hover .icon{
        animation: rotate3d 2s infinite;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION CARDS END - - - */