/* PICTURE */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION PICTURE HEADER - - - */
.renovation #image_header {
    height: 650px;
    position: relative;
    width: 100%;
}
.renovation #overlay_image {
    width: 440px;
    height: 220px;
    position: absolute;
    top: 47%;
}
@media (min-width: 768px) {
    .renovation #image_header {
        height: 680px;
        content: url(/assets/images/images/renovation/image-header-renovation.jpg);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .renovation #overlay_image {
        width: 440px;
        height: 220px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 1s ease-in-out;
    }
    .renovation .image_header:hover #overlay_image {
        transform: translate(-50%, -50%) scale(1.5);
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION PICTURE HEADER END - - - */


/* COMMENT */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION COMMENT - - - */
.renovation .title-comment {
    font-family: "Bebas Neue", sans-serif;
    color: #0E3F78;
    margin-top: 10px;
    font-size: 5vw;
}
.renovation .comment {
    font-family: "Darker Grotesque", sans-serif;
    color: #0E3F78;
    text-align: center;
}
.renovation .icon-comment {
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.renovation .icon-title {
    height: 25px;
    width: 25px;
}
.renovation #comment i {
    color: white;
    font-size: 2.2vw;
}
.renovation .containt-comment-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px) {
    .renovation .p-comment {
        font-family: "Darker Grotesque", sans-serif;
        color: #0E3F78;
        font-size: 1vw; 
        text-align: center;
    }
    .renovation .icon-title {
        width: 30px;
        height: 30px;
    }
    .renovation .title-comment {
        font-size: 2vw;
        margin-top: 10px;
    }
    .renovation .icon-comment {
        width: 2vw;
        height: 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--icon-light);
    }
    .renovation #comment i {
        color: white;
        font-size: 1.2vw;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION COMMENT END - - - */