/* PICTURE */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION PICTURE HEADER - - - */
.services #image_header {
    height: 650px;
    position: relative;
    width: 100%;
}
.services #overlay_image {
    width: 440px;
    height: 220px;
    position: absolute;
    top: 47%;
}
@media (min-width: 768px) {
    .services #image_header {
        height: 680px;
        content: url(/assets/images/images/services/image-header-services.jpg);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .services #overlay_image {
        width: 440px;
        height: 220px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 1s ease-in-out;
    }
    .services .image_header:hover #overlay_image {
        transform: translate(-50%, -50%) scale(1.5);
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION PICTURE HEADER END - - - */


/* COMMENT */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION COMMENT - - - */
.services .title-comment {
    font-family: "Bebas Neue", sans-serif;
    color: #0E3F78;
    margin-top: 10px;
}
.services .comment {
    font-family: "Darker Grotesque", sans-serif;
    color: #0E3F78;
    text-align: center;
}
.services .icon-comment {
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services .icon-title {
    height: 25px;
    width: 25px;
}
.services #comment i {
    color: white;
    font-size: 2.2vw;
}
.services .containt-comment-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px) {
    .services .p-comment {
        font-family: "Darker Grotesque", sans-serif;
        color: #0E3F78;
        font-size: 1vw; 
        text-align: center;
    }
    .services .icon-title {
        width: 30px;
        height: 30px;
    }
    .services .title-comment {
        font-size: 2vw;
        margin-top: 10px;
    }
    .services .icon-comment {
        width: 2vw;
        height: 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--icon-light);
    }
    .services #comment i {
        color: white;
        font-size: 1.2vw;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION COMMENT END - - - */


/* SECTION */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION - - - */
.services .titreh2 {
    font-size: 5vw;
    font-family: "Bebas Neue", light;
    color: #0E3F78;
    margin-left: 1vw;
    letter-spacing: 0.1vw;
}
.services p {
    font-size: 2.8vw;
    text-align: start;
    color: #0E3F78;
    font-family: "Darker Grotesque";
    padding: 0px;
    text-align: center;
}
.services .icon-container {
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.services .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    height: 4vw;
}
.services .fa-star {
    color: white;
    font-size: 3vw;
}
@media (min-width: 768px) {
    .services .overlay {
        position: absolute;
        justify-content: center;
        top: 0;
        width: 70%;
        height: 100%;
        background: rgba(255, 255, 255, 0.712);
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: row;
        padding: 10px;
    }
    .services .overlay:hover .fa-star {
        animation: rotate3d 4s infinite;
    }
    .services .titreh2 {
        font-size: 2.5vw;
    }
    .services p {
        font-size: 1.4vw;
        text-align: start;
        margin-left: 40px;
    }
    .services .title-container {
        margin-left: 40px;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .services .icon-container {
        width: 2.5vw;
        height: 2.5vw;
    }
    .services .fa-star {
        font-size: 1.5vw;
    }
    .services .icon {
        width: 1.4vw;
        height: 1.4vw;
    }
    .services .overlay:hover .fa-star {
        animation: rotate3d 4s;
    }
    .services .overlay-text {
        font-size: 1.4vw;
    }
    .services #top p {
        text-align: center;
    }
    .services .overlay-green {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 70%;
        height: 80%;
        background: rgba(255, 255, 255, 0.712);
        backdrop-filter: blur(10px);
    }
    .services .overlay-green:hover .fa-star {
        animation: rotate3d 4s;
    }
    .services .overlay-text {
        font-size: 2.8vw;
        text-align: center;
        color: #0E3F78;
        font-family: "Darker Grotesque";
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION END - - - */


/* CARDS */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION CARDS - - - */
.services .overlay-cards {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.services .fa-plus {
    color: rgb(255, 255, 255);
    font-size: 2.8vw;
}
@media (min-width: 768px) {
    .services .overlay-cards {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.700);
        backdrop-filter: blur(3px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
    }
    .services .overlay-cards:hover {
        background-color: rgba(255, 255, 255, 0.100);
        backdrop-filter: blur(0px);
    }
    .services .btn-cards {
        width: 12vw;
        height: 3.8vw;
        font-size: 1.3vw;
    }
    .services .overlay-cards:hover .icon{
        animation: rotate3d 2s infinite;
    }
    .services .fa-plus {
        color: rgb(255, 255, 255);
        font-size: 0.7vw;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION CARDS END - - - */