:root {
    --icon-light: #41AED1;
    --icon-dark: #0E3F78;
}
.services{
    --icon-light: #88C29F;
    --icon-dark: #41614D;
}
.renovation{
    --icon-light: #ECD27E;
    --icon-dark: #877744;
}
.bien-etre{
    --icon-light: #D56C99;
    --icon-dark: #7D294D;
}
.batiment{
    --icon-light: #AFAFAF;
    --icon-dark: #464646;
}
.green{
    background-color: #88C29F !important;
}
.yellow{
    background-color: #ECD27E !important;
}
.red{
    background-color: #D56C99 !important;
}
.blue{
    background-color: #41AED1 !important;
}
.grey{
    background-color: #AFAFAF !important;
}
