{% extends 'base.html.twig' %}
{% block title %}Hello RenovationController!{% endblock %}
{% block body_class %}{{title}}{% endblock %}
{% block body %}


{# PICTURE #}
{# ----------------------------------------------------------------------------------------------------------------------- PICTURE HEADER ---  #}
<section id="img">
    <div class="row col-12 g-0 image_header">
        <div class="image_header">
        <img src="{{ asset('assets/images/images/renovation/image-header-renovation-phone.jpg') }}" alt="" id="image_header">
        </div>
        <img src="{{ asset('assets/images/logos/logo-oppacity.png') }}" alt="" id="overlay_image">
    </div>
</section>
{# ----------------------------------------------------------------------------------------------------------------------- PICTURE HEADER END ---  #}


{# COMMENT #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION COMMENT ---  #}
<section id="comment">
    <div class="row my-4 col-10 mx-auto">
        <div class="col-md-4">
            <div class="containt-comment-title col-md-12">
                <div class="icon-comment yellow"><i class="fa-solid fa-medal"></i></div>
                    <h1 class="title-comment mx-2">UN SAVOIR FAIRE</h1>
                </div>
                <p class="p-comment col-md-10">
                Faites confiance à l'expertise de
                Reflets Bleus, cumulant 33 ans
                de savoir-faire dans la construction de piscines, spas et saunas.
                Notre équipe expérimentée vous guide à chaque étape pour
                concrétiser vos projets avec professionnalisme.
                </p>
            </div>
            <div class="col-md-4">
                <div class="containt-comment-title col-md-12">
                    <div class="icon-comment yellow"><i class="fa-solid fa-handshake"></i></div>
                        <h1 class="title-comment mx-2">UN AVIS D'EXPERT</h1>
                    </div>
                    <p class="p-comment col-md-10">
                    Faites confiance à l'expertise de
                    Reflets Bleus, cumulant 33 ans
                    de savoir-faire dans la construction de piscines, spas et saunas.
                    Notre équipe expérimentée vous guide à chaque étape pour
                    concrétiser vos projets avec professionnalisme.
                    </p>
                </div>
            <div class="col-md-4 ">
                <div class="containt-comment-title col-md-12">
                    <div class="icon-comment yellow"><i class="fa-solid fa-truck"></i></div>
                        <h1 class="title-comment mx-2">ZONE INTERVENTION</h1>
                    </div>
                    <p class="p-comment col-md-10">
                    Faites confiance à l'expertise de
                    Reflets Bleus, cumulant 33 ans
                    de savoir-faire dans la construction de piscines, spas et saunas.
                    Notre équipe expérimentée vous guide à chaque étape pour
                    concrétiser vos projets avec professionnalisme.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{# ----------------------------------------------------------------------------------------------------------------------- SECTION COMMENT END ---  #}

{% endblock %}
