@import'shared/header.css';
@import'shared/image_header.css';
@import'shared/variable.css';
@import'shared/button.css';
@import'shared/animation.css';
@import'shared/footer.css';
@import'shared/piscine.css';
@import'shared/services.css';
@import'shared/renovation.css';
@import'shared/bien_etre.css';
@import'shared/comment.css';
@import'shared/overlay.css';
@import'shared/card.css';
@import'shared/catalogue.css';
@import'shared/css_slider/style.css';


:root {
    font-family: "Darker Grotesque", sans-serif;
}
.titreh2 {
    font-size: 5vw;
    font-family: "Bebas Neue", light;
    color: #0E3F78;
    margin-left: 1vw;
    letter-spacing: 0.1vw;
}
.container {
    padding: 0;
    margin: 50px;
}
.paragraph {
    font-size: 2.8vw;
    color: #0E3F78;
    font-family: "Darker Grotesque";
    padding: 0px;
    text-align: start;
}
.icon-container {
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--icon-light);
}
.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-camera {
    color: white;
    font-size: 2.5vw;
}
.fa-star {
    color: white;
    font-size: 2.5vw;
}
.p-location {
    font-size: 3.4vw;
    margin-top: 10px;
    margin-left: 10px;
    color: #0E3F78;
    font-family: "Darker Grotesque";
}
@media (min-width: 768px) {
    .titreh2 {
        font-size: 2vw;
    }
    .paragraph {
        font-size: 1.4vw;
        margin-left: 40px;
    }
    .title-container {
        margin-left: 40px;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .icon-container {
        width: 2.1vw;
        height: 2.1vw;
    }
    .fa-camera {
        font-size: 1vw;
    }
    .fa-star {
        font-size: 1vw;
    }
    .p-location {
        font-size: 1.5vw;

    }
}
img{
    transition: transform 0.5s ease;
}
.overflow-hidden:hover img{
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}

/* Classe de base pour les sections */
section {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Classe ajoutée lorsque la section est visible */
section.visible {
    opacity: 1;
}
