@import'shared/header.css';
@import'shared/index.css';
@import'shared/variable.css';
@import'shared/button.css';
@import'shared/animation.css';
@import'shared/footer.css';



:root {
    font-family: "Darker Grotesque", sans-serif;
}

.container {
    padding: 0;
    margin: 50px;
}
